{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
{% endblock %}

{% block title %}Getting Started Permabots{% endblock %}

{% block content %}		
<div class="divcenter nobottommargin clearfix" {% block panel_width %}{% endblock %}>
	<div class="panel panel-default nobottommargin">
		<div class="panel-body" style="padding: 40px;">
		<h2>Getting Started</h2>
		<div class="fancy-title title-border">
			<h3>Intro</h3>
		</div>
<p">Get straight to building bots. Avoid the complexity of each instant message service and focus on your bot app</p>
<div class="divcenter nobottommargin clearfix" style="max-width: 300px;">
	<div class="panel panel-default divcenter">
							<div class="panel-body">
							<img align="middle" src="{% static "images/getting-started/architecture.png" %}" alt="Permabots Architecture">
							</div>
	</div>
</div>
<p>This tutorial will have you building and deploying a <em>Telegram Bot</em> that look for users and fetches some information from <em>Github</em> in minutes. 
The tutorial assumes that you have:</p>
<ul class="iconlist leftmargin">
<li><i class="icon-ok-sign"></i>A <a href="https://telegram.org/">Telegram</a> account</li>
<li><i class="icon-ok-sign"></i>Registered in <a href="{% url 'account_signup' %}">Permabots.com</a></li>
</ul>


<p>This tutorial uses the Permabots API, so you need to set API token in header, <code>Authentication: Token <i>api_token</i></code>. However you can fulfil all this tutorial with the web dashboard.</p>

		<div class="fancy-title title-border">
			<h3>Bots</h3>
		</div>

<p>Create a Telegram bot following these <a href="https://core.telegram.org/bots#botfather">steps</a>. Once you’ve created it, use Telegram token associated to create bot in Permabots.
<pre>
<code class="http">
POST /api/v1/bots/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
  "token": "telegrambottoken",
  "enabled": true
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "105390d7-de18-497f-a3b0-6c65a81a4e28",
  "token": "telegrambottoken",
  "created_at": "2016-04-12T14:54:40.885362Z",
  "updated_at": "2016-04-12T14:54:41.215232Z",
  "enabled": true,
  "info": {
    "first_name": "PermabotsGitHubTutorial",
    "last_name": null,
    "username": "PermabotsGitHubTutorialBot"
  }
}

</code>
</pre>
<p>We have created bot already <code>enabled</code> but it is useful to disable it until you have already built and consider it as ready.</p>

<h3>Handlers</h3>
<p>In this step, you will set a simple handler to welcome users when they start chatting to your bot. A handler defines how your bot reacts to client messages. In this case when clients start a chat, Telegram sends <code>/start</code> text to bot.</p> 
<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
  "name": "Welcome",
  "enabled": true,
  "pattern": "/start",
  "response": {"text_template": "Welcome to PermaGithub Tutorial bot. Which github username do you want me to look for?",
               "keyboard_template": ""
               }

}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "02c22b56-a2af-43ad-b590-21102227331c",
  "created_at": "2016-04-12T15:00:46.206034Z",
  "updated_at": "2016-04-12T15:00:46.206057Z",
  "name": "Welcome",
  "pattern": "/start",
  "enabled": true,
  "request": null,
  "response": {
    "text_template": "Welcome to PermaGithub Tutorial bot. Which github username do you want me to look for?",
    "keyboard_template": ""
  },
  "target_state": null,
  "source_states": [],
  "priority": 0
}
</code>

</pre>
<p>Notice we defined in pattern field what message should match to be executed. Also we set a welcome message as response. As we are requesting for github username, we need another handler to get username and build a response with info retrieved.</p>

		<div class="fancy-title title-border">
			<h3>Context</h3>
		</div>
		
<p>A context is used to parametrize our handlers. Some context data is available just when handler starts its processing and other is attached as a result of the processing.</p>
<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
  "name": "Github user",
  "enabled": true,
  "pattern": "(?P&lt;username&gt;\\w+)",
  "request": {"url_template": "https://api.github.com/users/{% verbatim %}{{pattern.username }}{% endverbatim %}",
              "method": "Get"},
  "response": {"text_template": "{% verbatim %}{% if response.status == 404 %}{{ pattern.username }} not found. Try with another one.{% else %}<a href='{{ response.data.html_url}}'>{{ response.data.login }}</a>{% endif %}{% endverbatim %}",
               "keyboard_template": "{% verbatim %}{% if response.status == 200 %}[['Repos', 'Starred'],['Back']]{% endif %}{% endverbatim %}"
               }

}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "b7662c57-a80d-48ad-bbcf-9fc4f44fe67c",
  "created_at": "2016-04-12T15:01:56.237784Z",
  "updated_at": "2016-04-12T15:01:56.237824Z",
  "name": "Github user",
  "pattern": "(?P&lt;username&gt;\\w+)",
  "enabled": true,
  "request": {
    "url_template": "https://api.github.com/users/{% verbatim %}{{pattern.username }}{% endverbatim %}",
    "method": "Get",
    "data": null,
    "url_parameters": [],
    "header_parameters": []
  },
  "response": {
    "text_template": "{% verbatim %}{% if response.status == 404 %}{{ pattern.username }} not found. Try with another one.{% else %}<a href='{{ response.data.html_url}}'>{{ response.data.login }}</a>{% endif %}{% endverbatim %}",
    "keyboard_template": "{% verbatim %}{% if response.status == 200 %}[['Repos', 'Starred'],['Back']]{% endif %}{% endverbatim %}"
  },
  "target_state": null,
  "source_states": [],
  "priority": 0
}
</code>
</pre>
<p>Check the pattern, we use a regular expression <code>(?P&lt;username&gt;\\w+)</code> to get the word as a variable to later use it for generating the request to Github API. Patterns use regular expressions using python <a href="https://docs.python.org/2/library/re.html#regular-expression-syntax">syntax</a>. Variables obtained in pattern are attached to context in <code>pattern</code> variable.</p>
<p>In response, we use <a href="http://jinja.pocoo.org/docs/dev/">Jinja2</a> template to generate the response using data returned by Github API. We also set a keyboard response to let the user get some of the Github user info. Notice the format is an array of arrays. Check Telegram <a href="https://core.telegram.org/bots#keyboards">docs</a>.</p>
<p>Data returned by request is attached to context as <code>response.data</code>. Request status code is also available in <code>response.status</code>.</p>

<div class="row bottommargin">
<div class="col-sm-3">
	<img src="{% static "images/getting-started/telegram_github_start_username.jpg" %}">
</div>
<div class="col-sm-3">
	<img src="{% static "images/getting-started/telegram_github_not_found.jpg" %}">
</div>
</div>
		<div class="fancy-title title-border">
			<h3>States</h3>
		</div>


<p>At this moment our bot is capable of getting Github user information but it can’t decide whether <code>/start</code> message is username or the starting command. We can create some states to tell the bot when to execute each handler.</p> 
<pre>
	<code class="http">
	POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/states/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
  "name": "Started"
}
	</code>
</pre>
<pre>
<code clsas="json">
{
  "id": "23e394e1-605c-4cdb-8f1c-e917f8cf271c",
  "created_at": "2016-04-12T15:03:05.169790Z",
  "updated_at": "2016-04-12T15:03:05.169833Z",
  "name": "Started"
}
</code>
</pre>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/states/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
  "name": "User Detail"
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "00785a12-febe-43f4-92d3-ae4c335f50ac",
  "created_at": "2016-04-12T15:04:42.497102Z",
  "updated_at": "2016-04-12T15:04:42.497145Z",
  "name": "User Detail"
}
</code>
</pre>

<p>One state when bot is asking to get the username, <i>Started</i> and <i>User Detail</i>, which represents the moment the bot is providing info of a user.</p>

<p>Let's update our handlers with <code>target_state</code> (set after processed) and <code>source_states</code> (should match to execute handler).</p> 

<pre>
	<code class="http">
	PUT /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/02c22b56-a2af-43ad-b590-21102227331c/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "target_state": {"name": "Started"}
}
	</code>

</pre>
<pre>
<code class="json">
{
  "id": "02c22b56-a2af-43ad-b590-21102227331c",
  "created_at": "2016-04-12T15:00:46.206034Z",
  "updated_at": "2016-04-12T15:07:17.521128Z",
  "name": "Welcome",
  "pattern": "/start",
  "enabled": true,
  "request": null,
  "response": {
    "text_template": "Welcome to PermaGithub Tutorial bot. Which github username do you want me to look for?",
    "keyboard_template": ""
  },
  "target_state": {
    "id": "23e394e1-605c-4cdb-8f1c-e917f8cf271c",
    "created_at": "2016-04-12T15:03:05.169790Z",
    "updated_at": "2016-04-12T15:03:05.169833Z",
    "name": "Started"
  },
  "source_states": [],
  "priority": 0
}
</code>
</pre>

<pre>
<code class="http">
PUT /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/b7662c57-a80d-48ad-bbcf-9fc4f44fe67c/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
"target_state": {"name": "User Detail"}
}

</code>

</pre>

<pre>
<code class="json">
{
  "id": "b7662c57-a80d-48ad-bbcf-9fc4f44fe67c",
  "created_at": "2016-04-12T15:01:56.237784Z",
  "updated_at": "2016-04-12T15:08:53.876486Z",
  "name": "Github user",
  "pattern": "(?P&lt;username&gt;\\w+)",
  "enabled": true,
  "request": {
    "url_template": "https://api.github.com/users/{% verbatim %}{{pattern.username }}{% endverbatim %}",
    "method": "Get",
    "data": null,
    "url_parameters": [],
    "header_parameters": []
  },
  "response": {
    "text_template": "{% verbatim %}{% if response.status == 404 %}{{ pattern.username }} not found. Try with another one.{% else %}<a href='{{ response.data.html_url}}'>{{ response.data.login }}</a>{% endif %}{% endverbatim %}",
    "keyboard_template": "{% verbatim %}{% if response.status == 200 %}[['Repos', 'Starred'],['Back']]{% endif %}{% endverbatim %}"
  },
  "target_state": {
    "id": "00785a12-febe-43f4-92d3-ae4c335f50ac",
    "created_at": "2016-04-12T15:04:42.497102Z",
    "updated_at": "2016-04-12T15:04:42.497145Z",
    "name": "User Detail"
  },
  "source_states": [],
  "priority": 0
}

</code>

</pre>

<pre>
	<code class="http">	
	POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/b7662c57-a80d-48ad-bbcf-9fc4f44fe67c/sourcestates/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "name": "Started"
}
	</code>

</pre>
<pre>
<code class="json">
{
  "id": "23e394e1-605c-4cdb-8f1c-e917f8cf271c",
  "created_at": "2016-04-12T15:03:05.169790Z",
  "updated_at": "2016-04-12T15:03:05.169833Z",
  "name": "Started"
}
</code>
</pre>


<p>Now <code>/start</code> handler will set <i>Started</i> state after processing, and username handler will only execute in <i>Started</i> state and will set to <i>User Detail</i> after execute.</p>

		<div class="fancy-title title-border">
			<h3>State Context</h3>
		</div>

<p>When setting a state, the context used for that processing is stored associated to that state in <code>state_context</code>. Then we can keep clean keyboards and still generate requests with context.</p>

<p>Now we can create handlers for the other options we offer in our customized keyboard: <i>Repos</i>, <i>Starred</i> and <i>Back</i>. Notice how we use context associated to the state.</p>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "name": "Repositories",
    "enabled": true,
    "pattern": "Repos",
    "request": {"url_template": "https://api.github.com/users/{% verbatim %}{{state_context.pattern.username}}{% endverbatim %}/repos", "method": "Get"},
    "response": {"text_template": "{% verbatim %}{% for repo in response.data %}<a href='{{ repo.html_url}}'>{{ repo.full_name }}</a>\n{% if repo.language %} <i>{{ repo.language}}</i>\n{% endif %}issues:{{ repo.open_issues }}\nforks: {{ repo.forks }}\nwatchers: {{ repo.watchers }}\n{% endfor %}{% endverbatim %}",
                 "keyboard_template": "{% verbatim %}[['Repos', 'Starred'],['Back']]{% endverbatim %}"
    }
    
}

</code>

</pre>
<pre>
<code class="json">
{
  "id": "fbff4525-8284-47f1-bc92-3ccae8bff6ff",
  "created_at": "2016-04-12T15:11:52.965762Z",
  "updated_at": "2016-04-12T15:11:52.965784Z",
  "name": "Repositories",
  "pattern": "Repos",
  "enabled": true,
  "request": {
    "url_template": "https://api.github.com/users/{% verbatim %}{{state_context.pattern.username}}{% endverbatim %}/repos",
    "method": "Get",
    "data": null,
    "url_parameters": [],
    "header_parameters": []
  },
  "response": {
    "text_template": "{% verbatim %}{% for repo in response.data %}<a href='{{ repo.html_url}}'>{{ repo.full_name }}</a>\n{% if repo.language %} <i>{{ repo.language}}</i>\n{% endif %}issues:{{ repo.open_issues }}\nforks: {{ repo.forks }}\nwatchers: {{ repo.watchers }}\n{% endfor %}{% endverbatim %}",
    "keyboard_template": "{% verbatim %}[['Repos', 'Starred'],['Back']]{% endverbatim %}"
  },
  "target_state": null,
  "source_states": [],
  "priority": 0
}

</code>

</pre>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/fbff4525-8284-47f1-bc92-3ccae8bff6ff/sourcestates/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "name": "User Detail"
}

</code>

</pre>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/fbff4525-8284-47f1-bc92-3ccae8bff6ff/sourcestates/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "name": "User Detail"
}
</code>

</pre>
<pre>
<code class="json">
{
  "id": "00785a12-febe-43f4-92d3-ae4c335f50ac",
  "created_at": "2016-04-12T15:04:42.497102Z",
  "updated_at": "2016-04-12T15:04:42.497145Z",
  "name": "User Detail"
}


</code>

</pre>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "name": "Starred",
    "enabled": true,
    "pattern": "Starred",
    "request": {"url_template": "https://api.github.com/users/{% verbatim %}{{state_context.pattern.username}}{% endverbatim %}/starred", "method": "Get"},
    "response": {"text_template": "{% verbatim %}{% for starred in response.data %}<a href='{{starred.html_url}}'>{{starred.name}}</a>\nforks:{{ starred.forks }}\nwatchers: {{ starred.watchers}}\nissues: {{starred.open_issues }}\n{% endfor %}{% endverbatim %}",
                 "keyboard_template": "{% verbatim %}[['Repos', 'Starred'],['Back']]{% endverbatim %}"
    }
    
}


</code>


</pre>
<pre>
<code class="json">
{
  "id": "5d4c17b4-aeea-45c6-9eb9-b7de560adb15",
  "created_at": "2016-04-12T15:15:09.576699Z",
  "updated_at": "2016-04-12T15:15:09.576736Z",
  "name": "Starred",
  "pattern": "Starred",
  "enabled": true,
  "request": {
    "url_template": "https://api.github.com/users/{% verbatim %}{{state_context.pattern.username}}{% endverbatim %}/starred",
    "method": "Get",
    "data": null,
    "url_parameters": [],
    "header_parameters": []
  },
  "response": {
    "text_template": "{% verbatim %}{% for starred in response.data %}<a href='{{starred.html_url}}'>{{starred.name}}</a>\nforks:{{ starred.forks }}\nwatchers: {{ starred.watchers}}\nissues: {{starred.open_issues }}\n{% endfor %}{% endverbatim %}",
    "keyboard_template": "{% verbatim %}[['Repos', 'Starred'],['Back']]{% endverbatim %}"
  },
  "target_state": null,
  "source_states": [],
  "priority": 0
}

</code>

</pre>
<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/5d4c17b4-aeea-45c6-9eb9-b7de560adb15/sourcestates/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "name": "User Detail"
}


</code>


</pre>

<pre>
<code class="json">
{
  "id": "00785a12-febe-43f4-92d3-ae4c335f50ac",
  "created_at": "2016-04-12T15:04:42.497102Z",
  "updated_at": "2016-04-12T15:04:42.497145Z",
  "name": "User Detail"
}


</code>


</pre>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "name": "Back",
    "enabled": true,
    "pattern": "Back",
    "response": {"text_template": "Which github username do you want me to look for?",
                 "keyboard_template": ""
    },
    "target_state" : {"name": "Started"}
    
}
</code>

</pre>
<pre>
<code class="json">
{
  "id": "f5d35afb-ba1a-43d8-879d-ef5b9803284b",
  "created_at": "2016-04-12T15:16:45.230692Z",
  "updated_at": "2016-04-12T15:16:45.230715Z",
  "name": "Back",
  "pattern": "Back",
  "enabled": true,
  "request": null,
  "response": {
    "text_template": "Which github username do you want me to look for?",
    "keyboard_template": ""
  },
  "target_state": {
    "id": "23e394e1-605c-4cdb-8f1c-e917f8cf271c",
    "created_at": "2016-04-12T15:03:05.169790Z",
    "updated_at": "2016-04-12T15:03:05.169833Z",
    "name": "Started"
  },
  "source_states": [],
  "priority": 0
}

</code>


</pre>
<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/f5d35afb-ba1a-43d8-879d-ef5b9803284b/sourcestates/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "name": "User Detail"
}

</code>

</pre>
<pre>
<code class="json">
{
  "id": "00785a12-febe-43f4-92d3-ae4c335f50ac",
  "created_at": "2016-04-12T15:04:42.497102Z",
  "updated_at": "2016-04-12T15:04:42.497145Z",
  "name": "User Detail"
}


</code>
</pre>

<p>When setting a state, the context used for that processing is stored associated to that state. Then we can keep clean keyboards and still generate requests with context.</p>

<div class="row bottommargin">
<div class="col-sm-3">
	<img src="{% static "images/getting-started/telegram_github_repos.jpg" alt="Telegram bot github repositories" %}">
</div>
<div class="col-sm-3">
	<img src="{% static "images/getting-started/telegram_github_starred.jpg" alt="Telegram bot github starred repositories" %}">
</div>
<div class="col-sm-3">
	<img src="{% static "images/getting-started/telegram_github_back.jpg" alt="Telegram bot github back" %}">
</div>

</div>

		<div class="fancy-title title-border">
			<h3>Environment Variables</h3>
		</div>
<p>Permabots allow you to declare key value variables shared in all bot usign <code>env</code>. You can use them to generate requests url or responses.</p>

<p>We need to generate <code>client_key</code> and <code>client_secret_key</code> from Github. Not to get banned quickly.</p>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/env/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "key": "client_id",
    "value": "yourgithubclientid"
    
}
</code>

</pre>
<pre>
<code class="json">
{
  "id": "e2518e69-44b0-4e82-bab8-0e46245f9448",
  "created_at": "2016-04-12T15:18:57.343659Z",
  "updated_at": "2016-04-12T15:18:57.343708Z",
  "key": "client_id",
  "value": "yourgithubclientid"
}

</code>

</pre>
<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/env/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "key": "client_secret",
    "value": "youtgithubclientsecret"
    
}


</code>

</pre>
<pre>
<code class="json">
{
  "id": "bf2c9f00-5a8a-40c7-a53e-019b5a100dbf",
  "created_at": "2016-04-12T15:19:54.032214Z",
  "updated_at": "2016-04-12T15:19:54.032260Z",
  "key": "client_secret",
  "value": "youtgithubclientsecret"
}
</code>

</pre>

<p>Now you can use them to set url parameters in our Github requests.</p>

		<div class="fancy-title title-border">
			<h3>Request Url and Header Parameters</h3>
		</div>
	
<p>Handler requests can have some parameters in the url and in the header. In our bot we should attach some url parameters to the Github request to avoid getting banned quickly. Should we hardcode these values in all requests? No at all, use <code>env</code>.</p>


<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/b7662c57-a80d-48ad-bbcf-9fc4f44fe67c/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "key": "client_secret",
    "value_template": "{{env.client_secret}}"
    
}

</code>

</pre>

<pre>
<code class="json">
{
  "id": "e34761cd-d924-47a1-943b-8bc287b2f49d",
  "created_at": "2016-04-12T15:20:56.839520Z",
  "updated_at": "2016-04-12T15:20:56.839552Z",
  "key": "client_secret",
  "value_template": "{% verbatim %}{{env.client_secret}}{% endverbatim %}"
}

</code>

</pre>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/b7662c57-a80d-48ad-bbcf-9fc4f44fe67c/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "key": "client_id",
    "value_template": "{% verbatim %}{{env.client_id}}{% endverbatim %}"
    
}


</code>

</pre>

<pre>
<code class="json">
{
  "id": "a418c99d-9282-485a-b9b4-ac9f04431040",
  "created_at": "2016-04-12T15:21:37.842777Z",
  "updated_at": "2016-04-12T15:21:37.842808Z",
  "key": "client_id",
  "value_template": "{% verbatim %}{{env.client_id}}{% endverbatim %}"
}
</code>

</pre>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/fbff4525-8284-47f1-bc92-3ccae8bff6ff/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "key": "client_secret",
    "value_template": "{% verbatim %}{{env.client_secret}}{% endverbatim %}"
    
}

</code>

</pre>

<pre>
<code class="json">
{
  "id": "92f5529d-1e5a-4f2e-a269-eb48694068d8",
  "created_at": "2016-04-12T15:22:24.506055Z",
  "updated_at": "2016-04-12T15:22:24.506084Z",
  "key": "client_secret",
  "value_template": "{% verbatim %}{{env.client_secret}}{% endverbatim %}"
}

</code>

</pre>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/fbff4525-8284-47f1-bc92-3ccae8bff6ff/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "key": "client_id",
    "value_template": "{% verbatim %}{{env.client_id}}{% endverbatim %}"
    
}

</code>

</pre>

<pre>
<code class="json">
{
  "id": "2db33f92-050e-457e-a127-69b9dacdb06c",
  "created_at": "2016-04-12T15:23:05.810707Z",
  "updated_at": "2016-04-12T15:23:05.810759Z",
  "key": "client_id",
  "value_template": "{% verbatim %}{{env.client_id}}{% endverbatim %}"
}


</code>
</pre>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/5d4c17b4-aeea-45c6-9eb9-b7de560adb15/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "key": "client_secret",
    "value_template": "{% verbatim %}{{env.client_secret}}{% endverbatim %}"
    
}

</code>
</pre>
<pre>
<code class="json">
{
  "id": "332f44f6-de48-4ef9-9836-e9f260184406",
  "created_at": "2016-04-12T15:24:13.924415Z",
  "updated_at": "2016-04-12T15:24:13.924445Z",
  "key": "client_secret",
  "value_template": "{% verbatim %}{{env.client_secret}}{% endverbatim %}"
}


</code>
</pre>

<pre>
<code class="http">
POST /api/v1/bots/105390d7-de18-497f-a3b0-6c65a81a4e28/handlers/5d4c17b4-aeea-45c6-9eb9-b7de560adb15/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourgeneratepermabotsapikey
Content-Type: application/json
{
    "key": "client_id",
    "value_template": "{% verbatim %}{{env.client_id}}{% endverbatim %}"
    
}

</code>


</pre>
<pre>
<code class="json">
{
  "id": "071e0d62-0be6-4227-91dd-06ffd63a4840",
  "created_at": "2016-04-12T15:25:06.651555Z",
  "updated_at": "2016-04-12T15:25:06.651584Z",
  "key": "client_id",
  "value_template": "{% verbatim %}{{env.client_id}}{% endverbatim %}"
}
</code>
</pre>

		<div class="fancy-title title-border">
			<h3>Next steps</h3>
		</div>
<p>You now know how to build a Permabot for Telegram using, handlers, context, states, environment and request parameters. Visit <a href="{% url "swagger:django.swagger.base.view" %}"> API docs</a> to learn more about Permabots.</p>
<p>Some more upcoming docs will explain how to use <code>Hooks</code>. A mechanism to send messages to clients as notifications when your API requires.</p>
<p>You can try bot this <a href="https://telegram.me/PermabotsGitHubTutorialBot" target="_blank">bot</a>  with your Telegram client.
</div>
</div>
</div>

{% endblock %}


	{% block extra_scripts %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	
	
	{% endblock %}