{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
{% endblock %}

{% block title %}Getting Started Permabots{% endblock %}

{% block content %}		
<div class="divcenter nobottommargin clearfix" {% block panel_width %}{% endblock %}>


	<nav class="col-md-2 docs-sidebar hidden-sm hidden-xs">
      <ul id="sidebar" class="nav nav-stacked fixed">
        <li class="">
        	<a href="#intro" data-scrollto="#intro">Intro</a>
        </li>
        <li class="">
            <a href="#bots" data-scrollto="#bots">Bots</a>
            <ul class="nav nav-stacked">  
            	<li class=""><a href="#telegram-bot" data-scrollto="#telegram-bot">Telegram</a></li>
            	<li class=""><a href="#kik-bot" data-scrollto="#kik-bot">Kik</a></li>
            	<li class=""><a href="#messenger-bot" data-scrollto="#messenger-bot">Facebook Messenger</a></li>
            </ul>
        </li>
		<li class="">
        	<a href="#message-handlers" data-scrollto="#message-handlers">Message Handlers</a>
        	<ul class="nav nav-stacked">  
            	<li class=""><a href="#context" data-scrollto="#context">Context</a></li>
            	<li class=""><a href="#emoji" data-scrollto="#emoji">Emoji</a></li>
            	<li class=""><a href="#pattern" data-scrollto="#pattern">Pattern</a></li>
            	<li class=""><a href="#priority" data-scrollto="#pattern">Priority</a></li>
            	<li class=""><a href="#request" data-scrollto="#request">Request</a></li>
            	<li class=""><a href="#response" data-scrollto="#response">Response</a></li>
            </ul>
        </li>
        <li class="">
        	<a href="#states" data-scrollto="#states">States</a>
        		<ul class="nav nav-stacked">  
            	<li class=""><a href="#state-context" data-scrollto="#state-context">State context</a></li>
            	</ul>
        </li>
        <li class="">
        	<a href="#environment" data-scrollto="#environment">Environment</a>
        </li>
        <li class="">
           <a href="#url-header-parameters" data-scrollto="#url-header-parameters">Url and Headers Parameters</a>
        </li>
        <li class="">
           <a href="#next-steps" data-scrollto="#next-steps">Next steps</a>
        </li>
       </ul>
    </nav>
	<div class="col-md-10 panel panel-default nobottommargin">
		<div class="panel-body" style="padding: 40px;">
		<h1>Getting Started</h1>
		<section id="intro" class="heading-block page-section">
			<div class="fancy-title title-border">
				<h3>Intro</h3>
			</div>
		</section>
		<p">Get straight to building bots. Avoid the complexity of each instant message service and focus on your bot app</p>
		<div class="divcenter nobottommargin clearfix" style="max-width: 300px;">
			<div class="panel panel-default divcenter">
				<div class="panel-body">
					<img align="middle" src="{% static "images/getting-started/architecture.png" %}" alt="Permabots Architecture">
				</div>
			</div>
		</div>
		<p>This tutorial will have you building and deploying a chatbot that look for users and fetches some information from <em>Github</em> for Telegram, Kik and Facebook Messenger platforms in minutes.</p>
		<img class="leftmargin-sm bottommargin-sm" src="{% static "images/getting-started/telegram_demo.gif" %}">
		<img class="leftmargin-sm bottommargin-sm" src="{% static "images/getting-started/kik_demo.gif" %}">
		<img class="leftmargin-sm bottommargin-sm" src="{% static "images/getting-started/messenger_demo.gif" %}">
		<p>The tutorial assumes that you have:</p>
		<ul class="iconlist leftmargin">
			<li><i class="icon-ok-sign"></i>A <a href="https://telegram.org/">Telegram</a> and/or <a href="https://www.kik.com/">Kik</a>  and/or <a href="https://www.messenger.com/">>Facebook Messenger</a> account</li>
			<li><i class="icon-ok-sign"></i>Registered in <a href="{% url 'account_signup' %}">Permabots.com</a></li>
		</ul>
		<p>This tutorial uses the Permabots API, so you need to set API token in header, <code>Authentication: Token <i>api_token</i></code>. However you can fulfill all this tutorial with the web dashboard.</p>
		
		<section id="bots" class="heading-block page-section">
			<div class="fancy-title title-border">
				<h3>Bots</h3>
			</div>
		</section>

		<p>A Permabot has all the chatbot logic. With the same definition it works with several instant messaging platforms. Create a bot in Permabots with a given name.

		<pre>
			<code class="http">
POST /api/v1/bots/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json				
{
	"name": "Permabots GitHub Tutorial"
}
			</code>
		</pre>
		<pre>
			<code class="json">
{
	"id": "799e96f2-93eb-44eb-918c-c5bd14560c54",
	"name": "Permabots GitHub Tutorial",
	"created_at": "2016-04-20T10:46:04.179353Z",
	"updated_at": "2016-04-20T10:46:04.179384Z",
	"telegram_bot": null,
	"kik_bot": null
}
			</code>
		</pre>
		<section id="telegram-bot" class="page-section">
			<h4>Telegram</h4>
		</section>
		<p>Follow the <a href="https://core.telegram.org/bots#botfather">instructions</a> to create a Telegram bot. Permabots only requires <code>token</code>.</p>

		<pre>
			<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/telegram/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
	"token": "193184132:AAH5EA8wdmUZ6YrKSldos8-3ruBmob-rT3U",
	"enabled": true
}	
		</code>		
		</pre>
<pre>
	<code class="json">
{
"id": "92a0e12c-9512-4aae-a4e6-2ebeb3fb3328",
"token": "193184132:AAH5EA8wdmUZ6YrKSldos8-3ruBmob-rT3U",
"created_at": "2016-04-20T10:49:57.295249Z",
"updated_at": "2016-04-20T10:49:57.295303Z",
"enabled": true,
"info": {
   "first_name": "PermaGithub",
   "last_name": null,
   "username": "PermaGithubBot"
	}
}	
</code>
</pre>
<section id="kik-bot" class="page-section">
			<h4>Kik</h4>
		</section>
		<p>Follow the <a href="https://dev.kik.com/">instructions</a> to create a Kik bot. Permabots only requires <code>username</code> and <code>api key</code>.</p>
<pre>
	<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/kik/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
	"api_key": "59bdd0c2-c3f0-48ee-8dc4-2c048480fe68",
	"username": "permagithubtutorial",
	"enabled": true
}
	
	</code>

</pre>
<pre>
	<code class="json">
{
	"id": "8e51a392-c464-4225-99e7-ff3d1189ec34",
	"api_key": "59bdd0c2-c3f0-48ee-8dc4-2c048480fe68",
	"created_at": "2016-04-20T10:50:23.252650Z",
	"updated_at": "2016-04-20T10:50:23.252683Z",
	"enabled": true,
	"username": "permagithubtutorial"
}
	</code>
</pre>
<section id="messenger-bot" class="page-section">
			<h4>Facebook Messenger</h4>
		</section>
		<p>Follow the <a href="https://developers.facebook.com/docs/messenger-platform/quickstart">instructions</a> to create a Facebook Messenger bot. Permabots only requires <code>Page Access Token</code>. However you need to set
		webhook url in your facebook account. Take <code>id</code> generated in permabots an use it to generate Callback Url <code>https://permabots.herokuapp.com/processing/messengerbot/permabots_messenger_bot_id/</code>and Verify Token.</p>
<pre>
	<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/messenger/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
	"token": "your_page_access_token",
	"enabled": true
}
	
	</code>

</pre>
<pre>
	<code class="json">
{
	"id": "8e51aa92-c664-4cz25-9re7-ffy8d1189ec34",
	"token": "your_page_access_token",
	"created_at": "2016-04-20T10:50:28.252650Z",
	"updated_at": "2016-04-20T10:50:28.252683Z",
	"enabled": true,
}
	</code>
</pre>


<p>In this example we should use <code>8e51aa92-c664-4cz25-9re7-ffy8d1189ec34</code> in Facebook Apps dashboard as <code>Verify Token</code> and for Callback Url generation <code>https://permabots.herokuapp.com/processing/messengerbot/8e51aa92-c664-4cz25-9re7-ffy8d1189ec34/</code></p>
<p>These bots are created already <code>enabled</code> but it is useful to disable it until you have already built and consider it as ready.</p>
<section id="message-handlers" class="heading-block page-section">
<div class="fancy-title title-border">
	<h3>Message Handlers</h3>
</div>
</section>
<p>When a message is received a handler is selected to attend it generating a response. A handler defines how this response is built.</p>

<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
  "name": "Wellcome",
  "enabled": true,
  "pattern": "/start|Hi|Hello|hi|hello",
  "response": {"text_template": "Wellcome to PermaGithub Tutorial bot {{ emoji.waving_hand_sign}} \\n Which github username do you want me to look for?",
               "keyboard_template": ""
               }

}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "82bb4c1b-3a4e-4f52-bed4-0f1ddf2a62c6",
  "created_at": "2016-05-04T14:21:05.251207Z",
  "updated_at": "2016-05-04T14:21:05.251230Z",
  "name": "Wellcome",
  "pattern": "/start|Hi|Hello|hi|hello",
  "enabled": true,
  "request": null,
  "response": {
    "text_template": "Wellcome to PermaGithub Tutorial bot {{ emoji.waving_hand_sign}} \\n Which github username do you want me to look for?",
    "keyboard_template": ""
  },
  "target_state": null,
  "source_states": [],
  "priority": 0
}
</code>
</pre>
<p><strong>Note:</strong> Permabots identifies with <code>/start</code> when chat starts. This is Telegram original method but Permabot uses for Kik too.</p> 

<p> A wellcome message is set as response. In this case only a text response is defined but keyboards can be part of it. </p>
<section id="context" class=" page-section">
			<h4>Context</h4>
</section>
<p>A context is used to parametrize handlers. Some context data is available just when handler starts its processing and other is attached as a result of the processing.</p>
<p>Our bot is requesting for Github <code>username</code> in wellcome handlers. Create a handler with a Github request generated dynamically with context</p>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
  "name": "Username",
  "enabled": true,
  "pattern": "(?P<username>\\w+)",
  "request": {"url_template": "https://api.github.com/users/{{pattern.username }}",
              "method": "Get"},
  "response": {"text_template": "{% if response.status == 404 %}{{ pattern.username }} not found {{ emoji.black_question_mark_ornament}} Try with another one.{% else %}{% if service == 'telegram' %}<a href='{{ response.data.html_url}}'>{{ response.data.login }}</a>{% else %}{{ response.data.login }} with url {{ response.data.html_url }}{% endif %}{% endif %} it has {{ response.data.public_repos }} public repos {{ emoji.public_address_loudspeaker }} and {{ response.data.followers}} followers {{ emoji.family}} \\n View repos or go back",
               "keyboard_template": "{% if response.status == 200 %}[['Repos'],['Back']]{% endif %}"
               }

}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "1861cdd7-72aa-413e-b628-328c7087d00b",
  "created_at": "2016-05-04T14:22:38.264460Z",
  "updated_at": "2016-05-04T14:22:38.264492Z",
  "name": "Username",
  "pattern": "(?P<username>\\w+)",
  "enabled": true,
  "request": {
    "url_template": "https://api.github.com/users/{{pattern.username }}",
    "method": "Get",
    "data": null,
    "url_parameters": [],
    "header_parameters": []
  },
  "response": {
    "text_template": "{% if response.status == 404 %}{{ pattern.username }} not found {{ emoji.black_question_mark_ornament}} Try with another one.{% else %}{% if service == 'telegram' %}<a href='{{ response.data.html_url}}'>{{ response.data.login }}</a>{% else %}{{ response.data.login }} with url {{ response.data.html_url }}{% endif %}{% endif %} it has {{ response.data.public_repos }} public repos {{ emoji.public_address_loudspeaker }} and {{ response.data.followers}} followers {{ emoji.family}} \\n View repos or go back",
    "keyboard_template": "{% if response.status == 200 %}[['Repos'],['Back']]{% endif %}"
  },
  "target_state": null,
  "source_states": [],
  "priority": 0
}
</code>
</pre>
<section id="emoji" class="page-section">
	<h4>Emoji</h4>
</section>
<p>Emoticons are attached to context as <code>emoji</code>. Use any emoticon from this <a href="http://apps.timwhitlock.info/emoji/tables/unicode">table</a> and use description in lower case and replacing spaces with <code>_</code>. Notice how we use it in our example <code>{% verbatim %}{{emoji.back_with_leftwards_arrow_above}}{% endverbatim %}}</code>.</p>

<section id="pattern" class="page-section">
			<h4>Pattern</h4>
</section>
<p>Check the pattern, it has a regular expression <code>(?P&lt;username&gt;\\w+)</code> to get the word as a variable to later use it for generating the request to Github API. Patterns use regular expressions using <a href="https://docs.python.org/2/library/re.html#regular-expression-syntax">python syntax</a>. Variables obtained in pattern are attached to context in <code>pattern</code> variable.</p>
<section id="priority" class="page-section">
			<h4>Priority</h4>
</section>
<p>Some times more than one handler pattern can match the message received. To resolve this collision you can set priority weights. Higher the value is higher is the priority</p>

<section id="request" class="page-section">
			<h4>Request</h4>
</section>
<p>A handler can use a http request as part of its processing. Data returned by request is attached to context as <code>response.data</code>. Request status code is also available in <code>response.status</code>.</p>
<section id="response" class="page-section">
			<h4>Response</h4>
</section>
<p>The response is generated with context. <a href="http://jinja.pocoo.org/docs/dev/">Jinja2</a> is used as template engine.</p>
<p>In our example, text response is generated using data returned by Github API. We also set a keyboard response to let the user get some of the Github user info. Notice the format is an array of arrays. </p>



<section id="states" class="heading-block page-section">
		<div class="fancy-title title-border">
			<h3>States</h3>
		</div>
</section>

<p>At this moment the bot is capable of getting Github user information but it can’t decide whether <code>/start</code> message is username or the starting command. To tell bot when to execute handlers we must use states.</p>
<p>We can design the state machine of the example</p>
<div class="panel panel-default divcenter">
				<div class="panel-body">
					<img align="middle" src="{% static "images/getting-started/state_machine_getting_started.jpg" %}" alt="Chatbot state machine">
				</div>
			</div>
<p>The diagram give us some clues of what we still need to define. It is obvious we need three states ('User', 'User Detail' and 'Repo Detail') but also that we need six handlers. Notice when receiving a <code>404</code> error is not handler.</p>
<p>Let's create the states</p>
<pre>
	<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/states/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
  "name": "Username"
}
	</code>
</pre>
<pre>
<code class="json">
{
  "id": "5bf426f6-3cd3-4999-ad4a-d282e107860e",
  "created_at": "2016-05-04T14:22:54.272625Z",
  "updated_at": "2016-05-04T14:22:54.272657Z",
  "name": "Username"
}
</code>
</pre>

<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/states/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
  "name": "User Detail"
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "dfdab2ff-d50c-4d6f-8e47-fc4ab5399559",
  "created_at": "2016-05-04T14:23:10.262180Z",
  "updated_at": "2016-05-04T14:23:10.262211Z",
  "name": "User Detail"
}
</code>
</pre>

<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/states/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
  "name": "Repo"
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "fce06ff0-889f-400c-a01a-99f90c9f48be",
  "created_at": "2016-05-04T14:23:24.058554Z",
  "updated_at": "2016-05-04T14:23:24.058601Z",
  "name": "Repo"
}
</code>
</pre>

<p>Each handler sets a new state, <code>target_state</code>, if all processing was correct but also needs a list of states, <code>source_states</code>, when it can be executed.</p>

<p>Let's update our handlers with <code>target_state</code> and <code>source_states</code>.</p> 

<pre>
	<code class="http">
PUT /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/82bb4c1b-3a4e-4f52-bed4-0f1ddf2a62c6/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "target_state": {"name": "Username"}
}
</code>

</pre>
<pre>
<code class="json">
{
  "id": "82bb4c1b-3a4e-4f52-bed4-0f1ddf2a62c6",
  "created_at": "2016-05-04T14:21:05.251207Z",
  "updated_at": "2016-05-04T14:24:14.510917Z",
  "name": "Wellcome",
  "pattern": "/start|Hi|Hello|hi|hello",
  "enabled": true,
  "request": null,
  "response": {
    "text_template": "Wellcome to PermaGithub Tutorial bot {{ emoji.waving_hand_sign}} \\n Which github username do you want me to look for?",
    "keyboard_template": ""
  },
  "target_state": {
    "id": "5bf426f6-3cd3-4999-ad4a-d282e107860e",
    "created_at": "2016-05-04T14:22:54.272625Z",
    "updated_at": "2016-05-04T14:22:54.272657Z",
    "name": "Username"
  },
  "source_states": [],
  "priority": 0
}
</code>
</pre>

<pre>
<code class="http">
PUT /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/1861cdd7-72aa-413e-b628-328c7087d00b/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
"target_state": {"name": "User Detail"}
}
</code>

</pre>

<pre>
<code class="json">
{
  "id": "1861cdd7-72aa-413e-b628-328c7087d00b",
  "created_at": "2016-05-04T14:22:38.264460Z",
  "updated_at": "2016-05-04T14:24:35.748834Z",
  "name": "Username",
  "pattern": "(?P<username>\\w+)",
  "enabled": true,
  "request": {
    "url_template": "https://api.github.com/users/{{pattern.username }}",
    "method": "Get",
    "data": null,
    "url_parameters": [],
    "header_parameters": []
  },
  "response": {
    "text_template": "{% if response.status == 404 %}{{ pattern.username }} not found {{ emoji.black_question_mark_ornament}} Try with another one.{% else %}{% if service == 'telegram' %}<a href='{{ response.data.html_url}}'>{{ response.data.login }}</a>{% else %}{{ response.data.login }} with url {{ response.data.html_url }}{% endif %}{% endif %} it has {{ response.data.public_repos }} public repos {{ emoji.public_address_loudspeaker }} and {{ response.data.followers}} followers {{ emoji.family}} \\n View repos or go back",
    "keyboard_template": "{% if response.status == 200 %}[['Repos'],['Back']]{% endif %}"
  },
  "target_state": {
    "id": "dfdab2ff-d50c-4d6f-8e47-fc4ab5399559",
    "created_at": "2016-05-04T14:23:10.262180Z",
    "updated_at": "2016-05-04T14:23:10.262211Z",
    "name": "User Detail"
  },
  "source_states": [],
  "priority": 0
}
</code>

</pre>

<pre>
	<code class="http">	
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/1861cdd7-72aa-413e-b628-328c7087d00b/sourcestates/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "name": "Username"
}
	</code>

</pre>
<pre>
<code class="json">
{
  "id": "5bf426f6-3cd3-4999-ad4a-d282e107860e",
  "created_at": "2016-05-04T14:22:54.272625Z",
  "updated_at": "2016-05-04T14:22:54.272657Z",
  "name": "Username"
}
</code>
</pre>
<section id="state-context" class="page-section">
		<h4>State Context</h4>
</section>

<p>When setting a state, the context used for that processing is stored associated to that state in <code>state_context</code>. Then we can keep clean keyboards and still generate requests with context.</p>

<p>Remember the state machine diagram and set the rest of handlers. Notice how we use context associated to the state.</p>

<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "name": "Repos",
    "enabled": true,
    "pattern": "Repos",
    "request": {"url_template": "https://api.github.com/users/{{state_context.username.pattern.username}}/repos", "method": "Get"},
    "response": {"text_template": "Select a repository",
                 "keyboard_template": "[['Back']{% for repo in response.data %}{% if loop.first %},{% endif %}['{{repo.name}}']{% if not loop.last %},{% endif %}{% endfor%}]"
    },
    "target_state": {"name": "Repo"}
    
}
</code>

</pre>
<pre>
<code class="json">
{
  "id": "dbb5d6f1-1a51-4db0-a9f3-b639a4064a94",
  "created_at": "2016-05-04T14:25:11.670401Z",
  "updated_at": "2016-05-04T14:25:11.670424Z",
  "name": "Repos",
  "pattern": "Repos",
  "enabled": true,
  "request": {
    "url_template": "https://api.github.com/users/{{state_context.username.pattern.username}}/repos",
    "method": "Get",
    "data": null,
    "url_parameters": [],
    "header_parameters": []
  },
  "response": {
    "text_template": "Select a repository",
    "keyboard_template": "[['Back']{% for repo in response.data %}{% if loop.first %},{% endif %}['{{repo.name}}']{% if not loop.last %},{% endif %}{% endfor%}]"
  },
  "target_state": {
    "id": "fce06ff0-889f-400c-a01a-99f90c9f48be",
    "created_at": "2016-05-04T14:23:24.058554Z",
    "updated_at": "2016-05-04T14:23:24.058601Z",
    "name": "Repo"
  },
  "source_states": [],
  "priority": 0
}
</code>

</pre>

<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/dbb5d6f1-1a51-4db0-a9f3-b639a4064a94/sourcestates/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "name": "User Detail"
}
</code>

</pre>
<pre>
	<code class="json">
{
  "id": "dfdab2ff-d50c-4d6f-8e47-fc4ab5399559",
  "created_at": "2016-05-04T14:23:10.262180Z",
  "updated_at": "2016-05-04T14:23:10.262211Z",
  "name": "User Detail"
}
	</code>

</pre>

<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "name": "Back from User Detail",
    "enabled": true,
    "pattern": "Back",
    "response": {"text_template": "Type github username do you want me to search?",
                 "keyboard_template": ""
    },
    "target_state" : {"name": "Username"}
    
}
</code>

</pre>
<pre>
<code class="json">
{
  "id": "f9458cb7-db8a-4280-a951-d12c107ca707",
  "created_at": "2016-05-04T14:26:06.774088Z",
  "updated_at": "2016-05-04T14:26:06.774120Z",
  "name": "Back from User Detail",
  "pattern": "Back",
  "enabled": true,
  "request": null,
  "response": {
    "text_template": "Type github username do you want me to search?",
    "keyboard_template": ""
  },
  "target_state": {
    "id": "5bf426f6-3cd3-4999-ad4a-d282e107860e",
    "created_at": "2016-05-04T14:22:54.272625Z",
    "updated_at": "2016-05-04T14:22:54.272657Z",
    "name": "Username"
  },
  "source_states": [],
  "priority": 0
}
</code>
</pre>

<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/f9458cb7-db8a-4280-a951-d12c107ca707/sourcestates/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "name": "User Detail"
}
</code>
</pre>

<pre>
<code class="json">
{
  "id": "dfdab2ff-d50c-4d6f-8e47-fc4ab5399559",
  "created_at": "2016-05-04T14:23:10.262180Z",
  "updated_at": "2016-05-04T14:23:10.262211Z",
  "name": "User Detail"
}
</code>
</pre>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "name": "Repo Detail",
    "enabled": true,
    "pattern": "(?P<repo>.+)",
    "request": {"url_template": "https://api.github.com/repos/{{state_context.username.pattern.username}}/{{ pattern.repo }}",
                "method": "Get"},
    "response": {"text_template": "{% if response.status == 404 %} Repository {{ pattern.repo }} from {{ pattern.username}} not found {{ emoji.cross_mark}}\\n Select one from menu{% else %} {% if service == 'telegram' %} <a href='{{ response.data.html_url}}'>{{ response.data.name }}</a>: {{ response.data.description}}{% else %} {{ response.data.name}} with url {{response.data.html_url }}: {{ response.data.description }}{% endif %}\\n Select repo or go back{% endif %}",
                 "keyboard_template": "[['Back']{% for repo in state_context.user_detail.response.data %}{% if loop.first %},{% endif %}['{{repo.name}}']{% if not loop.last %},{% endif %}{% endfor%}]"
    }
}
</code>
</pre>


<pre>
<code class="json">
{
  "id": "fa00fc42-48f2-4668-a9b5-e37aceda26e1",
  "created_at": "2016-05-04T14:27:29.766527Z",
  "updated_at": "2016-05-04T14:27:29.766570Z",
  "name": "Repo Detail",
  "pattern": "(?P<repo>.+)",
  "enabled": true,
  "request": {
    "url_template": "https://api.github.com/repos/{{state_context.username.pattern.username}}/{{ pattern.repo }}",
    "method": "Get",
    "data": null,
    "url_parameters": [],
    "header_parameters": []
  },
  "response": {
    "text_template": "{% if response.status == 404 %} Repository {{ pattern.repo }} from {{ pattern.username}} not found {{ emoji.cross_mark}}\\n Select one from menu{% else %} {% if service == 'telegram' %} <a href='{{ response.data.html_url}}'>{{ response.data.name }}</a>: {{ response.data.description}}{% else %} {{ response.data.name}} with url {{response.data.html_url }}: {{ response.data.description }}{% endif %}\\n Select repo or go back{% endif %}",
    "keyboard_template": "[['Back']{% for repo in state_context.user_detail.response.data %}{% if loop.first %},{% endif %}['{{repo.name}}']{% if not loop.last %},{% endif %}{% endfor%}]"
  },
  "target_state": null,
  "source_states": [],
  "priority": 0
}
</code>
</pre>


<pre>
<code class="http">

POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/fa00fc42-48f2-4668-a9b5-e37aceda26e1/sourcestates/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "name": "Repo"
}
</code>

</pre>
<pre>
<code class="json">
}
{
  "id": "fce06ff0-889f-400c-a01a-99f90c9f48be",
  "created_at": "2016-05-04T14:23:24.058554Z",
  "updated_at": "2016-05-04T14:23:24.058601Z",
  "name": "Repo"
}
</code>
</pre>

<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "name": "Back from Repo Detail",
    "enabled": true,
    "pattern": "Back",
    "request": {"url_template": "https://api.github.com/users/{{ state_context.username.pattern.username}}",
                "method": "Get"},
    "response": {"text_template": "{% if service == 'telegram' %}<a href='{{ response.data.html_url}}'>{{ response.data.login }}</a>{% else %}{{ response.data.login }} with url {{ response.data.html_url}}{% endif %} it has {{ response.data.public_repos }} public repos and {{ response.data.followers}} followers\\n View repos or go back",
                 "keyboard_template": "{% if response.status == 200 %}[['Repos'],['Back']]{% endif %}"
    },
    "target_state": {"name": "User Detail"},
    "priority": 1,
}
</code>
</pre>

<pre>
<code class="json">
{
  "id": "72264903-0748-45fd-b9a4-78a2e1185f22",
  "created_at": "2016-05-04T14:28:18.617941Z",
  "updated_at": "2016-05-04T14:28:18.617965Z",
  "name": "Back from Repo Detail",
  "pattern": "Back",
  "enabled": true,
  "request": {
    "url_template": "https://api.github.com/users/{{ state_context.username.pattern.username}}",
    "method": "Get",
    "data": null,
    "url_parameters": [],
    "header_parameters": []
  },
  "response": {
    "text_template": "{% if service == 'telegram' %}<a href='{{ response.data.html_url}}'>{{ response.data.login }}</a>{% else %}{{ response.data.login }} with url {{ response.data.html_url}}{% endif %} it has {{ response.data.public_repos }} public repos and {{ response.data.followers}} followers\\n View repos or go back",
    "keyboard_template": "{% if response.status == 200 %}[['Repos'],['Back']]{% endif %}"
  },
  "target_state": {
    "id": "dfdab2ff-d50c-4d6f-8e47-fc4ab5399559",
    "created_at": "2016-05-04T14:23:10.262180Z",
    "updated_at": "2016-05-04T14:23:10.262211Z",
    "name": "User Detail"
  },
  "source_states": [],
  "priority": 1
}
</code>


</pre>

<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/72264903-0748-45fd-b9a4-78a2e1185f22/sourcestates/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "name": "Repo"
}
</code>
</pre>

<pre>
<code class="json">
{
  "id": "fce06ff0-889f-400c-a01a-99f90c9f48be",
  "created_at": "2016-05-04T14:23:24.058554Z",
  "updated_at": "2016-05-04T14:23:24.058601Z",
  "name": "Repo"
}
</code>
</pre>
<p>Notice how we set priority to this handler ir order to avoid collisions. Otherwise it will take "Back" as parameter to look for repository details.</p>
<div class="row bottommargin">
<div class="col-sm-3">
<div class="thumbnail">
	<img src="{% static "images/getting-started/telegram_github_repository_detail.jpg" %}" alt="Telegram repository Github detail">
				<div class="caption">
	<i>Telegram showing Repository details</i>
	</div>
	</div>
</div>
<div class="col-sm-3">
<div class="thumbnail">
	<img src="{% static "images/getting-started/telegram_github_repository_back.jpg" %}" alt="Telegram repository Github back">
				<div class="caption">
	<i>Telegram after going Back</i>
	</div>
	</div>
</div>
<div class="col-sm-3">
<div class="thumbnail">
	<img src="{% static "images/getting-started/kik_github_repository_detail.jpg" %}" alt="Kik repository Github detail">
				<div class="caption">
	<i>Kik showing Repository details</i>
	</div>
	</div>
</div>
<div class="col-sm-3">
<div class="thumbnail">
	<img src="{% static "images/getting-started/kik_github_repository_back.jpg" %}" alt="Kik repository Github back">
				<div class="caption">
	<i>Kik after going Back</i>
	</div>
	</div>
</div>
</div>

<section id="environment" class="heading-block page-section">
		<div class="fancy-title title-border">
			<h3>Environment</h3>
		</div>
</section>
<p>Permabots allow you to declare key value variables shared in all bot.</p>

<p>We need to generate <code>client_key</code> and <code>client_secret_key</code> from Github. Not to get banned quickly.</p>

<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/env/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "key": "client_id",
    "value": "yourgithubclientid"
    
}
</code>

</pre>
<pre>
<code class="json">
{
  "id": "e2c2a556-a493-4594-9e4a-f7966a8945c6",
  "created_at": "2016-05-04T14:29:40.825853Z",
  "updated_at": "2016-05-04T14:29:40.825902Z",
  "key": "client_id",
  "value": "yourgithubclientid"
}
</code>

</pre>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/env/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "key": "client_secret",
    "value": "yourgithubclientsecret"
    
}
</code>

</pre>
<pre>
<code class="json">
{
  "id": "0f65b649-c95f-41a7-b600-9f06c713132e",
  "created_at": "2016-05-04T14:29:40.825853Z",
  "updated_at": "2016-05-04T14:29:40.825902Z",
  "key": "client_secret",
  "value": "yourgithubclientsecret"
}
</code>

</pre>

<p>Environment variables are attached in context and used to render templates <code>{% verbatim %}{{env.client_id }}{% endverbatim %}.</code></p>
<section id="url-header-parameters" class="heading-block page-section">
		<div class="fancy-title title-border">
			<h3>Request Url and Header Parameters</h3>
		</div>
</section>
<p>Handler requests can have some parameters in the url and in the header. In our bot we should attach some url parameters to the Github request to avoid getting banned quickly. Don't hard code these values, use <code>env</code>.</p>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/1861cdd7-72aa-413e-b628-328c7087d00b/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "key": "client_secret",
    "value_template": "{{env.client_secret}}"
    
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "e83566ae-1d8c-4ab7-96e5-66fdb17d9b17",
  "created_at": "2016-05-04T14:30:30.780113Z",
  "updated_at": "2016-05-04T14:30:30.780167Z",
  "key": "client_secret",
  "value_template": "{{env.client_secret}}"
}
</code>
</pre>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/1861cdd7-72aa-413e-b628-328c7087d00b/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "key": "client_id",
    "value_template": "{{env.client_id}}"
    
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "f2c92c74-b1d2-4d5f-a702-8aafe9a13cb8",
  "created_at": "2016-05-04T14:30:46.335365Z",
  "updated_at": "2016-05-04T14:30:46.335395Z",
  "key": "client_id",
  "value_template": "{{env.client_id}}"
}
</code>
</pre>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/dbb5d6f1-1a51-4db0-a9f3-b639a4064a94/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "key": "client_secret",
    "value_template": "{{env.client_secret}}"
    
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "eb2ff24e-6352-47b5-8907-000355a10062",
  "created_at": "2016-05-04T14:31:01.181979Z",
  "updated_at": "2016-05-04T14:31:01.182008Z",
  "key": "client_secret",
  "value_template": "{{env.client_secret}}"
}
</code>
</pre>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/dbb5d6f1-1a51-4db0-a9f3-b639a4064a94/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "key": "client_id",
    "value_template": "{{env.client_id}}"
    
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "ce2cecc5-e81a-47a5-94ec-bf799d22eced",
  "created_at": "2016-05-04T14:31:12.475815Z",
  "updated_at": "2016-05-04T14:31:12.475866Z",
  "key": "client_id",
  "value_template": "{{env.client_id}}"
}
</code>
</pre>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/72264903-0748-45fd-b9a4-78a2e1185f22/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "key": "client_secret",
    "value_template": "{{env.client_secret}}"
    
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "5d94182d-a37c-4b02-9942-0ef05051a838",
  "created_at": "2016-05-04T14:31:22.401526Z",
  "updated_at": "2016-05-04T14:31:22.401556Z",
  "key": "client_secret",
  "value_template": "{{env.client_secret}}"
}
</code>
</pre>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/72264903-0748-45fd-b9a4-78a2e1185f22/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "key": "client_id",
    "value_template": "{{env.client_id}}"
    
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "7daeb459-d1b5-4353-aab4-738815ec409f",
  "created_at": "2016-05-04T14:31:34.579262Z",
  "updated_at": "2016-05-04T14:31:34.579313Z",
  "key": "client_id",
  "value_template": "{{env.client_id}}"
}
</code>
</pre>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/fa00fc42-48f2-4668-a9b5-e37aceda26e1/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "key": "client_secret",
    "value_template": "{{env.client_secret}}"
    
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "f17708d1-9113-41af-8ae5-045c0363ce89",
  "created_at": "2016-05-04T14:31:46.424320Z",
  "updated_at": "2016-05-04T14:31:46.424351Z",
  "key": "client_secret",
  "value_template": "{{env.client_secret}}"
}
</code>
</pre>
<pre>
<code class="http">
POST /api/v1/bots/799e96f2-93eb-44eb-918c-c5bd14560c54/handlers/fa00fc42-48f2-4668-a9b5-e37aceda26e1/urlparams/ HTTP/1.1
Host: www.permabots.com
Authorization: Token yourpermabotstoken
Content-Type: application/json
{
    "key": "client_id",
    "value_template": "{{env.client_id}}"
    
}
</code>
</pre>
<pre>
<code class="json">
{
  "id": "94b86a39-9c95-4b4a-91a2-9f422417a53c",
  "created_at": "2016-05-04T14:31:59.334883Z",
  "updated_at": "2016-05-04T14:31:59.334912Z",
  "key": "client_id",
  "value_template": "{{env.client_id}}"
}
</code>
</pre>


<section id="next-steps" class="heading-block page-section">
		<div class="fancy-title title-border">
			<h3>Next steps</h3>
		</div>
</section>
<p>You now know how to build a Permabot for Telegram using, handlers, context, states, environment and request parameters. Visit <a href="{% url "swagger:django.swagger.base.view" %}"> API docs</a> to learn more about Permabots.</p>
<p>Some more upcoming docs will explain how to use <code>Hooks</code>. A mechanism to send messages to clients as notifications when your API requires.</p>
<p>You can try this <a href="https://telegram.me/PermabotsGitHubTutorialBot" target="_blank">bot</a>  with your Telegram client or search <code>permagithubtutorial</code> with your Kik client.
</div>


{% endblock %}


	{% block extra_scripts %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	<script>	
	   $('body').scrollspy({
            target: '.docs-sidebar',
            offset: 100
        });
	 </script>
	{% endblock %}