<section class="page-section" id="section-features">

	<div class="container clearfix">
		<div class="col_one_fourth">
			<div class="feature-box fbox-effect">
				<div class="fbox-icon">
					<a><i class="icon-beer i-alt"></i></a>
				</div>
				<h3>No programming</h3>
				<p>Just define how handle messages with requests to APIs. Via web or API.</p>
			</div>
		</div>

		<div class="col_one_fourth">
			<div class="feature-box fbox-effect">
				<div class="fbox-icon">
					<a><i class="icon-dollar i-alt"></i></a>
				</div>
				<h3>Free Hosting</h3>
				<p>Save money hosting your bots in our platform.</p>
			</div>
		</div>

		<div class="col_one_fourth">
			<div class="feature-box fbox-effect">
				<div class="fbox-icon">
					<a><i class="icon-share i-alt"></i></a>
				</div>
				<h3>Cross Platform</h3>
				<p>Define a bot and use it in multiple platforms.
				</p>
							
			</div>
		</div>
		
		<div class="col_one_fourth col_last">
			<div class="feature-box fbox-effect">
				<div class="fbox-icon">
					<a><i class="icon-code i-alt"></i></a>
				</div>
				<h3>Open Source</h3>
				<p>Total control. Extend or/and install the platform in your own servers.<a href="https://github.com/jlmadurga/permabots" class="social-icon si-small si-rounded si-github" target="_blank" title="Github">
									<i class="icon-github-circled"></i>
									<i class="icon-github-circled"></i>
								</a>
				</p>
							
			</div>
		
				
		<div class="clear"></div>
					
	</div>
					
</section>