<section class="page-section" id="section-features">

	<div class="container clearfix">
		<div class="col_one_third">
			<div class="feature-box fbox-effect">
				<div class="fbox-icon">
					<a href="#"><i class="icon-beer i-alt"></i></a>
				</div>
				<h3>No programming</h3>
				<p>Just define how handle messages with requests to APIs. Via web or API.</p>
			</div>
		</div>

		<div class="col_one_third">
			<div class="feature-box fbox-effect">
				<div class="fbox-icon">
					<a href="#"><i class="icon-dollar i-alt"></i></a>
				</div>
				<h3>Free Hosting</h3>
				<p>Save money hosting your bots in our platform.</p>
			</div>
		</div>

		<div class="col_one_third col_last">
			<div class="feature-box fbox-effect">
				<div class="fbox-icon">
					<a href="#"><i class="icon-share i-alt"></i></a>
				</div>
				<h3>Cross Platform</h3>
				<p>Define a bot and used in multiple platforms.
				<br>
				<small>* Only telegram at the moment</small>
				</p>
							
			</div>
		</div>
				
		<div class="clear"></div>
					
	</div>
					
</section>