<section class="page-section" id="section-pricing">

	<div class="container clearfix">

		<div class="pricing-box pricing-extended bottommargin clearfix">

			<div class="pricing-desc">
				<div class="pricing-title">
					<h3>How many Themes can you Download today?</h3>
				</div>
				<div class="pricing-features">
					<ul class="clearfix">
						<li><i class="icon-star"></i> Unlimited Bots</li>
						<li><i class="icon-star"></i> Unlimited Messages</li>
						<li><i class="icon-star"></i> Unlimited Handlers</li>
						<li><i class="icon-star"></i> Unlimited States</li>
						<li><i class="icon-star"></i> Unlimited Hooks</li>
					</ul>
				</div>
			</div>

			<div class="pricing-action-area">
				<div class="pricing-meta">Free</div>
				<div class="pricing-price">
					<span class="price-unit">&dollar;</span>0<span class="price-tenure">monthly</span>
				</div>
				<div class="pricing-action">
					<a href="{% url 'getting-started' %}"
						class="button btn-block nomargin">Get Started</a>
				</div>
			</div>

		</div>

	</div>
	</section>