{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
	<h3><i>{{ object }}</i>
	<div class="fright">
		<a href="{% url 'bot-update' object.pk %}" class="button button-small button-border button-rounded"><i class="icon-edit"> Update</i></a>
		<a href="{% url 'bot-delete' object.pk %}" class="button button-small button-border button-rounded"><i class="icon-remove"> Delete</i></a>
	</div>
	</h3>
	
	<div class="section notopborder nomargin">

		<div class="container clearfix">

			<div class="col_one_fifth topmargin-sm nobottommargin">
				<h4>{% trans "Telegram Bot" %}</h4>
			</div>

			<div class="col_three_fifth nobottommargin col_last">
				{% if object.telegram_bot %}
				<ul class="list-group">
					<li class="list-group-item"><b>Token</b><span class="badge">{{ object.telegram_bot.token }}</span></li>
					<li class="list-group-item"><b>Username</b><div class="fright">{{ object.telegram_bot.user_api.username }}</div></li>
					<li class="list-group-item"><b>First Name</b> <div class="fright">{{ object.telegram_bot.user_api.first_name }}</div></li>
					<li class="list-group-item"><b>Id</b><div class="fright">{{ object.telegram_bot.user_api.id }}</div></li>
					
				</ul>
				<a href="{% url 'bot-telegram-update' object.pk object.telegram_bot.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Update</i></a>			
				<a href="{% url 'bot-telegram-delete' object.pk object.telegram_bot.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Delete</i></a>		
				
				{% else %}
				<a href="{% url 'bot-telegram-create' object.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Add</i></a>				
				{% endif %}
			</div>

		</div>
	</div>
	
	<div class="section notopborder nomargin">

		<div class="container clearfix">

			<div class="col_one_fifth topmargin-sm nobottommargin">
				<h4>{% trans "Kik Bot" %}</h4>
			</div>

			<div class="col_three_fifth nobottommargin col_last">
				{% if object.kik_bot %}
				<ul class="list-group">
					<li class="list-group-item"><b>API Key</b><span class="badge">{{ object.kik_bot.api_key }}</span></li>
					<li class="list-group-item"><b>Username</b><div class="fright">{{ object.kik_bot.username }}</div></li>
					
				</ul>
				<a href="{% url 'bot-kik-update' object.pk object.kik_bot.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Update</i></a>			
				<a href="{% url 'bot-kik-delete' object.pk object.kik_bot.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Delete</i></a>		
				
				{% else %}
				<a href="{% url 'bot-kik-create' object.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Add</i></a>				
				{% endif %}
			</div>

		</div>
	</div>
	
	<div class="section notopborder nomargin">

		<div class="container clearfix">

			<div class="col_one_fifth topmargin-sm nobottommargin">
				<h4>{% trans "Messenger Bot" %}</h4>
			</div>

			<div class="col_three_fifth nobottommargin col_last">
				{% if object.messenger_bot %}
				<ul class="list-group">
					<li class="list-group-item"><b>Token</b><span class="badge">{{ object.messenger_bot.token|truncatechars:100 }}</span></li>
					
				</ul>
				<a href="{% url 'bot-messenger-update' object.pk object.messenger_bot.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Update</i></a>			
				<a href="{% url 'bot-messenger-delete' object.pk object.messenger_bot.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Delete</i></a>		
				
				{% else %}
				<a href="{% url 'bot-messenger-create' object.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Add</i></a>				
				{% endif %}
			</div>

		</div>
	</div>
	

	<div class="section notopborder nomargin">

		<div class="container clearfix">

			<div class="col_one_fifth topmargin-sm nobottommargin">
				<h4>{% trans "Environment Variables" %}</h4>
			</div>

			<div class="col_three_fifth nobottommargin col_last">
				<ul class="list-group">
					{% for var in object.env_vars.all %}
						<li class="list-group-item">{{ var.key }} 
						<div class="fright ">
							<a href="{% url 'env-update' object.pk var.pk %}"><i class="i-plain i-small icon-edit"></i></a><a href="{% url 'env-delete' object.pk var.pk %}"><i class="i-plain i-small icon-remove"></i></a>
						

						</div>
						<div class="fright rightmargin-sm">
						{{ var.value}}   
						</div>

						</li>
					{% endfor %}
				</ul>
				<a href="{% url 'env-create' object.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Add</i></a>
			</div>

		</div>
	</div>
	
	<div class="section notopborder nomargin">

		<div class="container clearfix">

			<div class="col_one_fifth topmargin-sm nobottommargin">
				<h4>{% trans "States" %}</h4>
			</div>

			<div class="col_three_fifth nobottommargin col_last">
				<ul class="list-group">
					{% for state in object.states.all %}
						<li class="list-group-item">{{ state.name }} 
						<div class="fright ">
							<a href="{% url 'state-update' object.pk state.pk %}"><i class="i-plain i-small icon-edit"></i></a><a href="{% url 'state-delete' object.pk state.pk %}"><i class="i-plain i-small icon-remove"></i></a>
						</div>

						</li>
					{% endfor %}
				</ul>
				<a href="{% url 'state-create' object.pk %}" class="button button-mini button-border button-rounded"><i class="icon-edit"> Add</i></a>
			</div>

		</div>
	</div>
	
	
	<div class="section notopborder nomargin">

		<div class="container clearfix">

			<div class="col_one_fifth topmargin-sm nobottommargin">
				<h4>{% trans "Handlers" %}</h4>
			</div>

			<div class="col_three_fifth nobottommargin col_last">
				<a href="{% url 'handler-list' object.pk %}" class="button button-small button-border button-rounded"> {% trans "View" %}</a>
			</div>

		</div>
	</div>
	
	<div class="section notopborder nomargin">

		<div class="container clearfix">

			<div class="col_one_fifth topmargin-sm nobottommargin">
				<h4>{% trans "Hooks" %}</h4>
			</div>

			<div class="col_three_fifth nobottommargin col_last">
				<a href="{% url 'hook-list' object.pk %}" class="button button-small button-border button-rounded"> {% trans "View" %}</a>
			</div>

		</div>
	</div>
	

	<div class="fright">
		<a href="{% url 'bot-update' object.pk %}" class="button button-small button-border button-rounded"><i class="icon-edit"> Update</i></a>
		<a href="{% url 'bot-delete' object.pk %}" class="button button-small button-border button-rounded"><i class="icon-remove"> Delete</i></a>
	</div>		

{% endblock %}


