{% extends "bots/base/list.html" %}
{% load staticfiles i18n %}

{% block list_title %}{% trans "Bots" %}{% endblock %}

{% block datatable_id %}datatable-bots{% endblock %}

				{% block columns %}
					<th>Telegram</th>
					<th>Kik</th>
					<th>Messenger</th>
				{% endblock %}
				
				{% block name %}<a href="{% url 'bot-detail' object.pk %}">{{ object.name }}</a>{% endblock %}
				{% block enabled %}{% endblock %}

{% block rows %}
					<td>{% if object.telegram_bot %}{% if object.telegram_bot.enabled %}<span class="label label-success">On</span> {% else %}<span class="label label-danger">Off</span> {% endif %}{{ object.telegram_bot }}{% endif %}</td>
					<td>{% if object.kik_bot %}{% if object.kik_bot.enabled %}<span class="label label-success">On</span> {% else %}<span class="label label-danger">Off</span> {% endif %}{{ object.kik_bot.username }}{% endif %}</td>
					<td>{% if object.messenger_bot %}{% if object.messenger_bot.enabled %}<span class="label label-success">On</span> {% else %}<span class="label label-danger">Off</span> {% endif %}{{ object.messenger_bot.token }}{% endif %}</td>
	
{% endblock %}

{% block extra_actions %}
<li><a href="{% url 'handler-list' object.pk %}">Handlers</a></li>
<li><a href="{% url 'hook-list' object.pk %}">Hooks</a></li>
{% endblock %}

{% block url_detail %}{% url 'bot-detail' object.pk %}{% endblock %}

{% block url_delete %}{% url 'bot-delete' object.pk %}{% endblock %}

{% block url_update %}{% url 'bot-update' object.pk %}{% endblock %}

{% block url_create %}{% url 'bot-create' %}{% endblock %}

{% block create_msg %}Create new bot{% endblock %}

{% block datatable_id_js %}#datatable-bots{% endblock %}

